<!-- header -->
<header class="site-header off-canvas-container js-off-canvas-container" >
    <div class="content-wrap off-canvas-contents">

        <div class="empowered-badge">
            <div class="img-holder inline">
                <img class="img" src="img/optimised/thumbnail-lorna-jane.jpg" alt="Image of Lorna Jane">
            </div>
            <strong class="caption caption-white inline">Empowered by Lorna Jane</strong>
        </div>

        {{ partial "site-navigation.html" .}}

    </div>
</header>