<nav class="site-nav" role="navigation">
    <ul class="clear-list">
        <li>
            <a href="{{ .Site.BaseURL }}#home" class="link js-scroll-link js-internal-link" data-multi-page-link="true" data-track-section="Nav" data-track-label="Home">Home</a>
        </li>
        <li>
            <a href="/about" class="link js-internal-link" data-track-section="Nav" data-track-label="About">About</a>
        </li>
        <li>
            <a href="index.html#gallery" class="link js-scroll-link js-internal-link" data-multi-page-link="true" data-track-section="Nav" data-track-label="Gallery">Gallery</a>
        </li>
        <li>
            <a href="index.html#sisterhood" class="link js-scroll-link js-internal-link" data-multi-page-link="true" data-track-section="Nav" data-track-label="Sisterhood">Sisterhood</a>
        </li>
    </ul>
</nav>




      {{ if .Site.Menus.main }}
        <ul class="pl0 mr3">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib pr3">
            <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}




